
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

body {
    background-color: #227C9D;
    color: rgb(10, 7, 7);
  
}
.content{
    max-width: 960px;
    margin: auto;
}

.name {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.assingment {
    border-bottom: 1px solid rgb(68, 67, 67);
    font-weight: bold;
}

header {
    display: flex;
	/*align-items: center;*/
	justify-content: space-between;
   /* display: grid;
    grid-template-columns: auto 1fr;*/
    background-color: #17C3B2;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 3px 3px 5px #FEF9EF;
}





p {

    font-style: italic;
}



ul {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: #FFCB77;
}

a {
    color: #000408;
  
}


footer {
    background-color: #17C3B2;
    border-radius: 10px;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    box-shadow: 3px 3px 5px #FEF9EF;
    max-width: 960px;
    margin: auto;
}

date {
   display:flex;
    align-items: center;
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
}

.grid {
display:grid;
grid-template-columns: repeat(4,fr); 
grid-template-rows: 200px 200px 200px  200px; 
grid-gap:5px;
max-width: 960px;
/*width:960px;*/
/*height:700px;*/
align-items: center;
margin:auto;
padding: 5px;
grid-template-areas: "a b b c" 
                     "d b b e" 
                     "d b b e"
                     "f g g h";
                    }
.item1 {
    grid-area: a;
   
}
.item2 {
    grid-area: b;
}
.item3{
    grid-area: c;
}
.item4 {
    grid-area: d;
}
.item5 {
    grid-area: e;
}
.item6 {
    grid-area: f;
}
.item7 {
    grid-area: g;
}
.item8 {
    grid-area: h;
}
.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 3px 3px 5px grey;
}

.picture{
    display:flex;
    align-content:flex-start;
}
.picture2{
    grid-area: b;
    
}